@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  max-height: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: #F2F2F2 ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
} */
/* 
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */
